* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: #85aa9b;
  overflow: hidden;
}

@keyframes lblAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.side-nav-bar {
  width: 4vw;
  /* width: 12vw; */
  height: 100vh;
  padding-inline: 2vw;
  margin-right: auto;
  transition: 400ms;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  background: #ffffff;

  a {
    text-decoration: none;
    color: #588b76;
    width: fit-content;
    /* width: 90%; */
    height: fit-content;
    display: flex;
    margin-inline: auto;
    margin-block: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    transition: 200ms;
    cursor: pointer;

    label {
      margin-left: 1vw;
      /* transition: 200ms; */
      display: none;
      cursor: pointer;
    }
  }

  a[chosen="true"] {
    color: white;
    background: #588b76;

    svg {
      path {
        fill: white;
      }
    }
  }

  a:nth-child(1) {
    margin-top: auto;
  }

  a:nth-child(4) {
    margin-bottom: auto;
  }

  a:hover {
    color: white;
    background: #588b76;

    svg {
      path {
        fill: white;
      }
    }
  }
}

.side-nav-bar:hover {
  width: 12vw;
  padding-inline: 2vw;

  a {
    width: 90%;

    label {
      display: block;
      animation: lblAnimation 400ms;
    }
  }
}

.content {
  width: 80vw;
  height: 100vh;
  margin: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  article {
    width: 30vw;
    height: fit-content;
    margin-inline: auto;
    margin-top: 3vw;
    margin-bottom: 1vw;
    background: #ffffff;
    color: #588b76;
    padding: 2vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 2.5vw;
    }

    .info {
      font-size: 1.1vw;
    }
  }

  section {
    width: 30vw;
    height: fit-content;
    margin-inline: auto;
    margin-bottom: 1.5vw;
    background: #ffffff;
    color: #588b76;
    padding: 2vw;
    border-radius: 1vw;
    font-size: 1.1vw;
  }

  h1 {
    width: 30vw;
    height: fit-content;
    margin-inline: auto;
    margin-top: 3vw;
    margin-bottom: 1vw;
    background: #ffffff;
    color: #588b76;
    padding: 2vw;
    border-radius: 1vw;
    text-align: center;
  }
}

.content::-webkit-scrollbar {
  display: none;
}

.to-top-a {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: fixed;
  bottom: 0.5vw;
  right: 3vw;
  opacity: 0;
  transition: 200ms;
  pointer-events: none;
}

.to-top-a:hover {
  .to-top-lbl {
    scale: 1.1;
  }
}

.to-top-lbl {
  display: flex;
  background: #ffffff;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  border-radius: 50%;
  transition: 200ms;

  img {
    margin: auto;
  }
}
